*.egg-info/
.pybuild/
CHANGELOG-v4.rst
CHANGELOG-v5.rst
CHANGELOG-v6.rst
CHANGELOG-v7.rst
CHANGELOG-v8.rst
CHANGELOG-v9.rst
COPYING
MANIFEST.in
PKG-INFO
README.rst
ansible_collections
build-ansible.sh
porting_guide_4.rst
porting_guide_5.rst
porting_guide_6.rst
porting_guide_7.rst
porting_guide_8.rst
porting_guide_9.rst
pyproject.toml
setup.cfg
setup.py
tags.yaml
